<!DOCTYPE html>
<html ng-app="MyApp">
    <head>
        <script src="../lib/angular/angular.min.js"></script>
        <script src="../lib/angular-ui-router/release/angular-ui-router.min.js"></script>
        <!-- <link rel="stylesheet" href="style.css"> -->
        <script src="main.js"></script>
    </head>
    <body>
        <style>.ng-invalid{color:red}</style>
        <form name="userInfo">
            <input type="text" ng-model="info.name" required name="name"><br>
            <input type="email" ng-model="info.email" required name="email"><br>
        </form>
        <div>
            {{info}}
        </div>





        
    </body>
</html>